<main role="main" class="container">
  <div class="starter-template">
    <h1>La letra actual es: <span id="letraActual">A</span></h1>
    <h3>Eres el jugador numero: <span id="numeroJugador">0</span></h3>

    <div class="row">
        <div class="col">
          <label for="nombreWord">Nombre: <input type="text" id="nombreWord" name="nombreWord"> </label>
        </div>
        <div class="col">
          <label for="colorWord">Color: <input type="text" id="colorWord" name="colorWord"> </label>
        </div>
        <div class="col">
          <label for="frutoWord">Fruto: <input type="text" id="frutoWord" name="frutoWord"> </label>
          
        </div>
        <div class="col">
           <button class="btn btn-success" onclick="SendResults();">
              Enviar
          </button>
        </div>
    </div>
  </div>
</main>
